{% extends "base.html" %}
{% load static %}
{% block body_block %}
    <div class="container">
        <div class="jumbotron">
            {% if user.is_authenticated %}
            <h1>My Account</h1>
            <h3>First Name: {{user.first_name}}</h3>
            <h3>Last Name: {{user.last_name}}</h3>
            <h3>Username: {{user.username}}</h3>
            <h3>Email: {{user.email}}</h3>
            <h3>Years of experience: {{user.userprofileinfo.year_of_exp}}</h3>
            <h3>Work Domain: {{user.userprofileinfo.work_domain}}</h3>
            <h3>Profile URL: {{user.userprofileinfo.linkedin_url}}</h3>
            <h3>Profile Photo: <img src="{{user.userprofileinfo.profile_pic.url}}" alt="Profile Pic" width="100" height="120">
            {% endif %}

            <!-- {% if profile_update %}
                <h1>Thank you! Your profile has been updated.</h1>
                <div>
                    <h3>Years of experience: {{profile_data.year_of_exp}}</h3>
                    <h3>Work Domain: {{profile_data.work_domain}}</h3>
                    <h3>Profile URL: {{profile_data.linkedin_url}}</h3>
                    <h3>Profile Photo: <img src="{{profile_data.profile_pic.url}}" alt="">
                </div>
            {% else %}
               
                <h2>Please fill or update your profile.</h2>
                <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {{ profile_form.as_p }}
                <input type="submit" name="" value="Update">
                </form>
            {% endif %} -->
        </div>
        <div>
            <form action='update_profile' method='POST'>
                <input type='submit' value='Update Profile'>
            </form>
            <Label></Label>
        </div>
    </div>

  
{% endblock %}