{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Update</title>  
</head>
<body>
    {% if profile_update %}
    <h2>Thank you! Your profile has been updated.</h2>
    <a href="modprofile/view_profile">Go Back to Profile!</a>
    {% else %}
    <h2>Please fill or update your profile.</h2>
    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{ profile_form.as_p }}
        <input type="submit" name="" value="Update">
    </form>
    {% endif %}
</body>
</html>